{% extends "base.html.twig" %}

{% block title %}
  Dashboad Gite
{% endblock %}

{% block body %}
  <h1>administration des gîtes PROGICA</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
  <section class="row">
    <a href="{{ path('admin.new') }}" class="btn btn-warning col-1">Ajouter</a>
    <table class="table table-striped">
      <thead>
        <th>#id</th>
        <th>name</th>
        <th>action</th>
      </thead>
      <tbody>
        {% for gite in gites %}
          <tr>
            <td>#{{ gite.id }}</td>
            <td>{{ gite.name }}</td>
            <td>
              <a href="" class="btn btn-primary">Editer</a>
              <a href="" class="btn btn-danger">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{# {{path('admin.edit', {'id': gite.id})}} #}
{# {{ path('admin.delete', {'id': gite.id}) }} #}
{# {'id': gite.id} #}