{% extends "base.html.twig" %}

{% block title %}
  Dashboad Gite
{% endblock %}

{% block body %}
  <h1>administration des gîtes PROGICA</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
  <section class="row">
    <a href="{{ path('admin.new') }}" class="btn btn-warning col-1 m-3">Ajouter</a>
    <a href="{{ path('admin.equipement') }}" class="btn btn-warning col-1 m-3">Equipements</a>
    <a href="{{ path('admin.service') }}" class="btn btn-warning col-1 m-3">Services</a>

    <table class="table table-striped">
      <thead>
        <th>#id</th>
        <th>name</th>
        <th>action</th>
      </thead>
      <tbody>
        {% for gite in gites %}
          <tr>
            <td>#{{ gite.id }}</td>
            <td>{{ gite.name }}</td>
            <td>
              <a href="{{ path('admin.edit', {id: gite.id}) }}" class="btn btn-primary">Editer</a>
              <form method="post" action="{{path('admin.delete', {'id': gite.id})}}" style="display: inline-block;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gite.id) }}">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Supprimer</button>
              </form>


              
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
